div(class="bg-white shadow rounded-lg")

  div(class="w-full p-5 space-y-3")
    h3(class="text-xl font-bold")= campania.campania
    a(href=`/campania/${campania.id}` class="bg-green-600 w-full text-center block font-bold text-white p-2 uppercase rounded") Ver Campaña